<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>📝 Assignments</h1>

<table>

<tr>
<th>Subject</th>
<th>Assignment</th>
<th>Due Date</th>
</tr>

<tr>
<td>Python</td>
<td>Build Calculator using Python</td>
<td>15 Aug 2026</td>
</tr>

<tr>
<td>Database</td>
<td>Write SQL Queries</td>
<td>18 Aug 2026</td>
</tr>

<tr>
<td>Operating System</td>
<td>Process Scheduling Report</td>
<td>20 Aug 2026</td>
</tr>

<tr>
<td>Web Development</td>
<td>Create Portfolio Website</td>
<td>25 Aug 2026</td>
</tr>

</table>

<br>

<a href="/dashboard">
<button>⬅ Back to Dashboard</button>
</a>

</div>

</body>
</html>
