<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h1>📅 Attendance</h1>

<table>

<tr>
<th>Subject</th>
<th>Attendance</th>
</tr>

<tr>
<td>Python</td>
<td>92%</td>
</tr>

<tr>
<td>Database</td>
<td>88%</td>
</tr>

<tr>
<td>Operating System</td>
<td>95%</td>
</tr>

<tr>
<td>Web Development</td>
<td>90%</td>
</tr>

</table>

<br>

<a href="/dashboard">
<button>⬅ Back to Dashboard</button>
</a>

</div>

</body>
</html>
