<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>College AI Assistant</title>

<link rel="stylesheet" href="{{ url_for('static', filename='chatbot.css') }}">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>

<div class="chat-container">

<div class="header">

<div class="avatar">🤖</div>

<div>

<h2>College AI Assistant</h2>

<p>🟢 Online</p>

</div>

</div>

<div id="chat-box">

<div class="bot message">

Hello 👋<br><br>

I can help you with:

<ul>

<li>Attendance</li>

<li>Results</li>

<li>Assignments</li>

<li>Python</li>

<li>Programming</li>

<li>Career Guidance</li>

</ul>

</div>

</div>

<div id="typing" style="display:none">

  AI is typing...

</div>

<div class="input-area">

<input
type="text"
id="message"
placeholder="Ask anything..."
>

<button id="send">

➤

</button>

</div>

<a href="/dashboard" class="back">

← Dashboard

</a>

</div>

<script src="{{ url_for('static', filename='chatbot.js') }}"></script>

</body>
</html>
